* {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    margin: 0;
}

header {
    background: url(image/image-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;

}

.header2 {
    height: auto;
}

.bar-navigation {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(66 107 126);
}

.bar-navigation a:hover {
    background-color: rgb(11, 91, 128);
}

.bar-navigation a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: large;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    margin-top: 12px;
}

.log {
    width: 50px;
}

.presentation {
    text-align: center;

    font-size: xx-large;
    font-weight: 800;
    color: white;
    margin-top: 100px;


}

.intro-menu-principale p {
    font-size: x-large;
    font-weight: 400;
    text-align: start;


}

.intro-menu-principale span {
    margin: 20px;
    margin-bottom: 20px;
    background-color: color(xyz-d50 0.14 0.15 0.3);
    border-radius: 50px;
    padding: 16px;
    color: white;
    font-weight: 700;
}

.intro-menu-description {
    margin-top: 100px;
}

.intro-menu-description p {
    font-size: x-large;
    font-weight: 400;
    text-align: start;


}

.intro-menu-invite {
    margin-top: 100px;
    font-size: x-large;
    font-weight: 400;
    text-align: start;

}

.menu-principale {
    display: flex;
    margin-top: 50px;
}

.side-bar1 {
    margin: 20px;
    margin-left: 30px;
}

.side-bar1 .img {
    margin-top: 100px;
}

.side-bar1 .img2 {
    margin-top: 100px;
}

.image-bloc {
    width: 400px;
    height: auto;
}

.image-descprition {
    width: 400px;
    height: auto;
}

.pied {
    background-color: black;
}

























.pied {
    background-color: rgb(39, 38, 38);
}

.pied p {
    color: white;
}